[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook = "*"
ipykernel = "*"
ipywidgets = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
nbdime = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
joblib = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
tqdm = "*"
torch = "*"
tensorflow = "<2.0"
scvis = {git = "https://github.com/shahcompbio/scvis.git", ref="af73849679e8f84d80e4418d0badf5ea9d9a87af"}

[requires]
python_version = "3.6.3"
